body {
    margin: 0;
    color: #ffffff;
    background-color: rgb(39, 39, 39);
    font-family: 'Roboto', sans-serif;
}

.bg-b {
    background-color: rgb(24, 24, 24);
}

.navbar {
    background-color: rgb(32, 32, 32);
}

.navlink.active {
    color: #0d6efd !important;
}

.maintxt {
    background-image: url("img/mac.jpg");
    background-size: cover;
    color: #fff;
    height: 65vh;
}

.hello {
    padding-top: 15vh;
    font-weight: 500;
    font-size: 50px;
}

.logo {
    width: 200px;
    height: 200px;
}

figcaption {
    margin-top: 10px;
    margin-bottom: 10px;
}
